body {
    margin: 0;
    height: 100vh;
}
#main {
    border: 2px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 75vh;
    border: 2px solid black;
    background-color: rgb(99, 98, 98);
}
#display {
    display: flex;
    background-color: powderblue;
    justify-content: end;
    align-items: end;
    height: 20%;
    font-size: larger;
}
#buttonsGroup {
    display: flex;
    flex: 3;
}
 #first3columns {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;
    align-items: center;*/
 }
 #lastcolumn {
    width: 25%;
    display: flex;
    flex-direction: column;
 }
 .firstcolumnbuttons {
    display: flex;
    flex: 1;
 }
.lastcolumnbuttons {
    display: flex;
    flex: 1;
}
 #equals {
    display: flex;
    flex: 2;
 }
 .buttons {
    border: 1px solid rgb(6, 0, 128);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
 }