#main {
    border: 2px solid red;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

#calculator {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 75vh;
    border: 2px solid black;
}
#display {
    display: flex;
    background-color: powderblue;
    justify-content: end;
    align-items: end;
    height: 20%;
    font-size: larger;
}
#buttonsGroup {
    display: flex;
    flex-grow: 1;
}
 #first3columns {
    border: 2px solid lime;
    flex-grow: 3;
 }
 #lastcolumn {
    border: 2px solid red;
    flex-grow: 1;
 }